body{
    background-image: url(../img/spring.png);
    background-position-y: 25%;
    background-position-x: 20%;
    overflow: hidden;
}
.reglas {
    position: absolute;
    right: 0;
    margin: -29px 42px 5px;
}
#destino1, #destino2 ,#destino3{
    float: left;
    width: 350px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}
#arrastrable1, #arrastrable2, #arrastrable3,#arrastrable4,#arrastrable5{
    width: 75px;
    height: 75px;
    padding: 5px;
    margin: 5px;
}
#destino1,#destino2,#destino3 {
    background-color: rgba(50, 143, 63, 0.5);
    background: rgba(50, 143, 63, 0.5);
    color: rgba(50, 143, 63, 0.5);
}
#arrastrable1 {
    background-color: #CC0;
}
#arrastrable2 {
    background-color: #FC0;
}  
#arrastrable3 {
    background-color: #F0E07F; 
}
#arrastrable4{
    background-color: #1D5E94; 
}
#arrastrable5 {
    background-color: #D97D94; 
}
/*estilos del reloj*/

#contenedor{
    height: 115px;
}
.reloj{
    float: left;
    font-size: 25px;
    font-family: Courier,sans-serif;
    color: #363431;
}
.boton{
    outline: none;
    border: 1px solid #363431;
    color: white;
    width: 100px;
    height: 30px;
    text-shadow: 0px -1px 1px black;
    font-size: 18px;
    border-radius: 5px;
    font-family: Helvetica;
    cursor: pointer;
    background-image: linear-gradient(#3aad02,#2c6f05);
}
.boton:active{
    background-image: linear-gradient(#2c6f05,#3aad02);
}
.boton:hover{
    box-shadow: 0px 0px 14px #3aad02;
}
   
   