body {
	background-image: url(../img/spring.png);
	background-position-y: 25%;
	background-position-x: 20%;
	overflow: hidden;	
}
.principal {
	text-align: center;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5% 17%;
    padding: 5%;
}
.nube, .cat {
	width: 31%;
	height: 50%;
    background-size: cover;
    position: absolute;
}
.uno {
	background-image: url(../img/nubes15.png);
    animation: movimiento1 40s infinite;
}
.dos {
	margin-top: 5%;
	width: 36%;
	height: 54%;
	background-image: url(../img/nube1.png);
    animation: movimiento2 30s infinite;
}
.tres {
	margin-top: 2%;
	width: 51%;
	background-image: url(../img/nube-6.png);
    animation: movimiento3 50s infinite;
}
.cuatro {
	margin-top: 1%;
	background-image: url(../img/nubes15.png);
    animation: movimiento4 50s infinite;
}
.cinco {
	margin-top: 3%;
	height: 36%;
	width: 23%;
	background-image: url(../img/nubes15.png);
    animation: movimiento5 60s infinite;
}
.cucho {
	background-image: url(../gif/cat-1.gif);
	animation: movimientoGato 15s 0;
	width: 16%;
    height: 26%;
    bottom: 20px;
}
@keyframes movimiento1 {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: -30%;
	}
}
@keyframes movimiento2 {
	from {
		margin-left: -30%;
	}
	to {
		margin-left: 100%;
	}
}
@keyframes movimiento3 {
	from {
		margin-left: -30%;
	}
	to {
		margin-left: 100%;
	}
}
@keyframes movimiento4 {
	from {
		margin-left: 100%;
	}
	to {
		margin-left: -20%;
	}
}
@keyframes movimiento5 {
	from {
		margin-left: -30%;
	}
	to {
		margin-left: 100%;
	}
}
@keyframes movimientoGato {
    from {left: -30%;}
    to {left: 100%;}
}